**Descriptive Statistics**

In [3]:
#Import the Libraries 
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Load The Data Set 
df=pd.read_csv('/content/blood_pressure.csv')
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [49]:
#Describe the data 
df.describe()

          patient   bp_before    bp_after
count  120.000000  120.000000  120.000000
mean    60.500000  156.450000  151.358333
std     34.785054   11.389845   14.177622
min      1.000000  138.000000  125.000000
25%     30.750000  147.000000  140.750000
50%     60.500000  154.500000  149.500000
75%     90.250000  164.000000  161.000000
max    120.000000  185.000000  185.000000

In [11]:
#Count the number of column 
df.count(0)

patient      120
sex          120
agegrp       120
bp_before    120
bp_after     120
dtype: int64

In [12]:
#Checking is there any null value .
df.isnull().any()

patient      False
sex          False
agegrp       False
bp_before    False
bp_after     False
dtype: bool

In [45]:
df['bp_before'].max()

185

In [43]:
df[['bp_before']].min()

bp_before    138
dtype: int64

In [46]:
df[["bp_before"]].mean()

bp_before    156.45
dtype: float64

In [47]:
df[["bp_before"]].mode()

   bp_before
0        142
1        162

In [48]:
df[["bp_before"]].median()

bp_before    154.5
dtype: float64